.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
Analise_Modelo_ENEM.Rproj
dados/ITENS_PROVA_2018.csv
dados/MICRODADOS_ENEM_2018.csv
dados/ENEM_2017_2019_AMOSTRA_01.xlsx
dados/ENEM_2017_2019_AMOSTRA_03.xlsx
dados/ENEM_2017_2019_AMOSTRA_10.xlsx
dados/DICIONÁRIO/Dicionário_Microdados_Enem_2018.ods
dados/DICIONÁRIO/Dicionário_Microdados_Enem_2018.xlsx
dados/DICIONÁRIO/Dicionário_Microdados_Enem_2019.xlsx